<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <header>
      <h1 >Xavier demo</h1>
      <h2 >– an App engine website –</h2>
    </header>
    <div>
      <h1>HERE WE ARE.</h1>
      <!--<img src="https://storage.googleapis.com/test-ski-hugues/xavIMAGES/bug.jpg" alt="Smiley face">-->
      <img src="https://storage.cloud.google.com/test-ski-hugues/xavIMAGES/amelie.png" alt="No authorisation">
    </div>
  </body>
</html>
